<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ route('dashboard') }}">

        <div class="sidebar-brand-text mx-3">Kelola Data</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <!-- Nav Item - master data -->
    <li class="nav-item">
        <a class="nav-link" href="/barang">
            <i class="fas fa-fw fa-sitemap"></i>
            <span>Master Barang</span></a>
    </li>

    <!-- Nav Item - olah penjualan -->
    <li class="nav-item">
        <a class="nav-link" href="penjualan">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Olah Penjualan</span></a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->
